[submodule "front-end"]
	path = front-end
	url = git@github.com:madfish-solutions/diodon-hackathon-front.git
[submodule "back-end"]
	path = back-end
	url = git@github.com:madfish-solutions/diodon-mock-data.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:madfish-solutions/perpetual-contracts.git
[submodule "contracts-interfaces"]
	path = contracts-interfaces
	url = git@github.com:madfish-solutions/perpetual-contracts-interface.git
[submodule "faucet-bot"]
	path = faucet-bot
	url = git@github.com:madfish-solutions/diodon-faucet.git
[submodule "service-bots"]
	path = service-bots
	url = git@github.com:madfish-solutions/didon-helper-bot.git
